html{
    background-color:lightgrey;
}
.page{
    display:none;
}
.active{
    display:block
}

header{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left center right";
    text-align: center;

    background-color: white;
}

#brand{
    grid-area: center;
}

#addBtn{
    color: rgb(0,122,255);
    grid-area : right;
    
}
#backBtn{
    color: rgb(0,122,255);
    grid-area:left;
}

#saveBtn{
    color: rgb(0,122,255);
    grid-area: right;
}
