* {
    padding: 0;
    margin: 0;
    font-size: 17pt;
}

html {
    background-color: lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.page {
    display: none;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.active {
    display: block
}
/*****************************HEADER ******************************/
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left center right";
    text-align: center;
    background-color: white;
    padding: 10px 0px 20px 0;
    font-size: 17pt;
    border-bottom: 1px solid grey;
}

.brand {
    grid-area: center;
    font-size: 17pt;
    font-weight: 600;
}

#addBtn {
    color: rgb(0, 122, 255);
    grid-area: right;
    font-weight: normal;
    margin-right: 20px;

}

#backBtn {
    color: rgb(0, 122, 255);
    grid-area: left;
    font-weight: normal;
    margin-left: 20px;
}
.backArrow {
    color: rgb(0, 122, 255);
    grid-area: left;
    margin: 2px 40px 0 0;

}

#saveBtn {
    color: rgb(0, 122, 255);
    grid-area: right;
    font-weight: normal;
    margin-right: 20px;
}

#input{
    margin:40px 0 0 0;
    display:flex;
    flex-direction: column;
    text-align: center;
}

/***************************** LIST ******************************/

#listDiv {
    list-style: none;
    background-color: white;



}

.listItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . dateTime""deleteBtn noteTitle .";
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;

}

.noteTitle {
    grid-area: noteTitle;
}

.dateTime {
    grid-area: dateTime;
    font-size: 10pt;
    font-weight: normal;
    color: grey;

}

#deleteBtn {
    grid-area: deleteBtn;
    font-size: 30pt;
    color:red;
}

form > input{
    width: 100vh;

}
